<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <% if (meta?.description) { %>
    <meta name="description" content="<%= meta.description %>">
  <% } %>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <%- include('../partials/nav'); %>

  <main>
    <%- body %> <!-- express-ejs-layouts injects the view here -->
  </main>

  <%- include('../partials/footer'); %>
  <script src="/js/main.js" defer></script>
</body>
</html>
